<% layout("layouts/boilerplate") -%>

<script>
  const MAP_TOKEN = "<%= process.env.MAP_TOKEN %>"
  const listing = <%- JSON.stringify(showlisting) %>
</script>

<!-- Listing Details -->
<div class="d-flex justify-content-center overflow-hidden mt-5">
  <div class="card border-0 fs-5 h-100 w-50">
    <h1 class="card-title fw-medium text-center"><%= showlisting.title %></h1>
    <p>Owned by: <b><%= showlisting.owner.username %></b></p>
    <img class="card-img-top mx-auto w-95" height="350rem" src="<%= showlisting.image.url %>" alt="Listing Image">

    <div class="card-body">
      <p class="card-text"><%= showlisting.description %></p>
    </div>

    <ul class="list-group list-group-flush border-0">
      <li class="list-group-item price" data-original-price="<%= showlisting.price %>">&#8377; <%= showlisting.price.toLocaleString("en-IN") %> / night</li>
      <li class="list-group-item"><%= showlisting.location %></li>
      <li class="list-group-item"><%= showlisting.country %></li>
    </ul>

    <% if (currentUser && currentUser._id.equals(showlisting.owner._id)) { %>
      <div class="card-body fs-1 d-flex justify-content-between">
        <form method="GET" action="/listings/edit/<%= showlisting._id %>">
          <button class="card-link fw-medium btn btn-sm btn-outline-dark border-1 px-4 mx-2">Edit</button>
        </form>

        <form method="POST" action="/listings/<%= showlisting._id %>?_method=DELETE">
          <button class="card-link fw-medium btn btn-sm btn-outline-danger border-1 px-4 mx-2">Delete</button>
        </form>
      </div>
    <% } %>
  </div>
</div>

<!-- Write Review -->
<div>
  <% if (currentUser) { %>
    <div class="d-flex justify-content-center overflow-hidden my-5">
      <div class="d-flex flex-column card p-4 border-3 fs-5 h-100 w-50">
        <h4 class="card-title fw-medium mt-1">Write a Review</h4>

        <form method="POST" action="/listings/<%= showlisting._id %>/reviews" class="needs-validation d-flex flex-column mt-3" novalidate>
          <fieldset class="starability-slot">
            <legend>Rate Nest</legend>
            <input type="radio" id="no-rate" class="input-no-rate" name="newReview[rating]" value="0" checked aria-label="No rating.">
            <input type="radio" id="first-rate1" name="newReview[rating]" value="1">
            <label for="first-rate1" title="Terrible">★</label>
            <input type="radio" id="first-rate2" name="newReview[rating]" value="2">
            <label for="first-rate2" title="Not good">★</label>
            <input type="radio" id="first-rate3" name="newReview[rating]" value="3">
            <label for="first-rate3" title="Average">★</label>
            <input type="radio" id="first-rate4" name="newReview[rating]" value="4">
            <label for="first-rate4" title="Very good">★</label>
            <input type="radio" id="first-rate5" name="newReview[rating]" value="5">
            <label for="first-rate5" title="Amazing">★</label>
          </fieldset>

          <div class="valid-feedback">Looks good!</div>
          <label for="ReviewID" class="mt-3">Write a Review...</label>
          <textarea required class="form-control custom-input-font-size mt-3" name="newReview[comment]" rows="3" id="ReviewID"></textarea>
          <div class="invalid-feedback">Please provide a valid comment.</div>
          <button class="card-link w-25 mx-auto fw-medium btn btn-sm btn-outline-dark border-1 my-3" type="submit">Add your Review</button>
        </form>
      </div>
    </div>
  <% } %>
</div>

<!-- All Reviews -->
<div class="d-flex flex-column justify-content-center overflow-hidden mx-5 my-5">
  <% if (showlisting.reviews.length >= 1) { %>
    <h4 class="text-center">All Reviews</h4>
  <% } %>
  <div class="row d-flex justify-content-center">
    <% for (let review of showlisting.reviews) { %>
      <div class="card border p-2 col-md-3 m-2">
        <ul class="list-group">
          <li class="starability-result" data-rating="<%= review.rating %>"></li>
          <li class="list-group-item border-0"><%= review.createdAt.toLocaleDateString("en-IN") %></li>
          <li class="list-group-item fw-medium fs-5 border-0"><%= review.comment %></li>
          <% if (currentUser && review.author._id.equals(currentUser._id)) { %>
            <li class="card-body list-group-item border-0 fs-1 d-flex">
              <form method="POST" action="/listings/<%= showlisting._id %>/reviews/<%= review._id %>?_method=DELETE">
                <button class="card-link fw-medium btn btn-sm btn-outline-danger border-1 px-2 mx-1">Delete</button>
              </form>
            </li>
          <% } %>
        </ul>
      </div>
    <% } %>
  </div>
</div>

<!-- Listing Map -->
<div class="d-flex justify-content-center overflow-hidden mx-5 my-5">
  <div class="card border-0 fs-5 h-100 w-50">
    <h3>Where you’ll be</h3>
    <div id="map" class="my-5" style="height: 400px"></div>
  </div>
</div>

<script src="/js/map.js"></script>
